.apon{
    text-align: center;
}
.junait{
    text-align: center;
    
}
#pp{
    height: 800px;
    width: 800px;
    background-color: FAEBD7;
}
.tumi{
    background-color: rgba(235, 110, 110, 0.579);
    text-align: center;
   
}
.anoy{
    background-color: rgb(245,245,220);
}
.amar{
    text-align: center;
}
.my{
    background-color: rgba(245, 245, 220, 0.542);
}